asgiref==3.9.0
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
cffi==1.17.1
channels==4.2.2
channels_redis==4.2.1
constantly==23.10.4
coverage==7.9.2
cryptography==45.0.5
daphne==4.2.1
Django==5.2.4
flake8==7.3.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
iniconfig==2.1.0
mccabe==0.7.0
msgpack==1.1.1
packaging==25.0
pluggy==1.6.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.22
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.9.0
pyOpenSSL==25.1.0
pytest==8.4.1
python-dotenv==1.1.1
redis==5.3.0
service-identity==24.2.0
setuptools==80.9.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.6.1
typing_extensions==4.14.0
vulture==2.14
watchdog==6.0.0
zope.interface==7.2
openai==1.54.4
python-dotenv==1.0.1
